@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.container div{
    display: inline-block;
    font-size: 70px;
    line-height: 70px;
    background: black;
    color: white;
    padding: 10px;
    margin: 5px;
  
}
.container {
  text-align: center;
  background: black;
}
